rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{document} {
      allow read: if true;
      allow create: if "admin" in get(/databases/$(database)/documents/users/$(request.auth.uid)).permissions;
      allow update, delete: if "admin" in get(/databases/$(database)/documents/users/$(request.auth.uid)).permissions;
    }

    match /users/{document} {
      allow read, write: if "admin" in get(/databases/$(database)/documents/users/$(request.auth.uid)).permissions;
    }
  }
}